<div class="comments mt-4" id="comments">
  {{#if this.length}}
  <h4>Comments</h4>
  {{/if}}
  {{#each this}}
  <div class="card comment w-50">
    <div class="card-header">
     <i class="fa-solid fa-circle-user me-1"></i> <b> {{user.username}}</b>   on {{format_date created_at}}
    </div>
    <div class="card-body text">
      {{comment_text}}
    </div>
  </div>
  {{/each}}
</div>