<div class="container">
  <div class="row">
    <section class="col-4 pr-3 border-end">
      <h2 class=" text-decoration-underline pb-5 ">Create New Post</h2>

      <form class="new-post-form pe-5">
        <div>
          <label class="form-label" for="post-title">Title</label>
          <input class="form-control" type="text" id="post-title" name="post-title" /><br>
        </div>
        <div>
          <label class="form-label" for="post-content">Content</label>
          <textarea class="form-control" id="post-content" name="post-content" ></textarea><br>
        </div>
        <button  type="submit" class="btn btn-outline-warning">Create</button>
      </form>
    </section>
    {{#if posts.length}}
    <section class="col-8">
      <h2 class="text-decoration-underline ps-4 pb-5">Your Posts</h2>
      <div class="container">
        {{#each posts as |post|}}
        <div class="row m-2">
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </div>
        {{/each}}
      </div>
    </section>
    {{/if}}
  </div>
</div>
<script src="/javascript/add-post.js"></script>