<div class="d-flex justify-content-around flex-wrap">
  <div class="form-wrapper mb-3">
    <h2>Login</h2>
    <p class="mb-5">Hello! let's get started</p>
    <form class="login-form">
      <div>
        <label class="form-label" for="username-login">Username:</label><br>
        <input class="form-control" type="text" id="username-login" />
      </div>
      <div>
        <label class="form-label" for="password-login">Password:</label> <br>
        <input class="form-control" type="password" id="password-login" />
      </div>
      <div>
        <button class="btn btn-lg mt-5 w-100" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="form-wrapper mb-3">
    <h2>Sign Up</h2>
    <p class="pb-5">Welcome to Tech Park</p>
    <form class="signup-form">
      <div>
        <label class="form-label" for="username-signup">Username:</label><br>
        <input class="form-control" type="text" id="username-signup" />
      </div>
      <div>
        <label class="form-label" for="password-signup">Password:</label><br>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div>
        <button class="btn btn-lg mt-5 w-100" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
<script src='/javascript/login.js'></script>