<div class="m-5 px-3">
{{> post-info post}}
{{#if loggedIn}}
<form class="comment-form my-5">
  <div>
    <textarea class="form-control w-50 mb-3" name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-outline-warning" type="submit">Add comment</button>
  </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
</div>
<script src="/javascript/comment.js"></script>
{{/if}}