*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: #EBEBEB;
}
header{
    /* background: linear-gradient(#000000,#000000); */
    /* position: absolute; */
    background: #f7b801;
    width: 100%;
}
.logo{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #EBEBEB;

}
.nav-link{
    color: #EBEBEB;
    font-weight: bold;
}
.nav-link:hover{
    color: #EBEBEB;
}
.logout-btn{
    color: #EBEBEB;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}
.logout-btn:focus{
    outline: none;
}
footer{
    background-color: #f18701;
    min-height: 60px;
    color: #EBEBEB;
    text-align: center;
    padding: 20px;
}

main{
    min-height: 80vh;
    padding: 60px;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #EBEBEB;
}
a:hover{
    color: #EBEBEB;
}
.row>*{
    padding: 0;
}
.card{
    background-color: #7678ed;
    border: none;
}
.card-header{
    background-color: #3D348B;
    border: none;
}
.card>*{
    color: #EBEBEB;
}
.subtitle{
    font-size: 15px;
    float: right;
}
.edit-link{
    background-color: #f7b801;
    width: fit-content;
    margin: 8px 0 15px;
    padding: 5px 25px;
    border-radius: 0.25rem;
}
.form-wrapper{
    padding: 30px;
    background-color: #7678ed;
    color: #EBEBEB;
    border-radius: 40px;
    min-height: 500px;
    min-width: 30vw;
}
.form-wrapper:last-child{
    background-color: #f18701;
}
.form-control:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 20%);
}
.btn-lg{
    color: #EBEBEB;
    font-weight: bold;
    background-color: #3D348B;

}
.btn-lg:hover{
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 20%);
    color: #EBEBEB;
    transition: 0.6s;
}
.form-wrapper:last-child form button{
    background-color: #f7b801;
}
.btn-outline-warning{
    color: #f18701;
    border: 2px solid #f18701;
}
.btn-outline-warning:hover{
    border-color:#f18701 ;
    background-color: #f18701;
    color: #EBEBEB;
    transition: 0.5s;
}
.btn-warning, .btn-warning:hover{
    border: 2px solid #f18701;
    background-color: #f18701;
    color: #EBEBEB;
    transition: 0.5s;
}
textarea.form-control{
    min-height: calc(6.5em + 0.75rem + 2px);
}
.card.comment{
    background-color: #dbdbfa;
}
.card.comment .card-header{
    background-color: #7678ed;
}
.card.comment .card-body{
    color: #000;
}
.go-back, .go-back:hover{
    color: #3D348B;
    font-weight: 500;
}